<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.toturialsninja.qa.listeners.MyListeners"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tutorialninja.testcases.Login_Test"/>
      <class name="com.tutorialninja.testcases.Register_Test"/>
      <class name="com.tutorialninja.testcases.SearchTest"/>
      <class name="com.tutorialninja.testcases.CheckOut_ValidProduct_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
